server {
  listen 80;
  client_max_body_size 11m;
  root /usr/share/nginx/html;
  location /api/ {
    proxy_pass http://${BACKEND_UPSTREAM};
    proxy_set_header Host $http_host;
    proxy_read_timeout 300s;
  }
  location / { try_files $uri $uri/ /index.html; }
}
